body {
    padding-top: 100px;
    background-image: url(images/blk.jpg);
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 75px;
}

#btn {
    background-color: rgb(128, 45, 184);
    height: 100px;
    width: 300px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

h5 {
    font-size: 50px;
}

p {
    font-size: 25px;
}
